<hr>

#**Topic / Agenda for Class**#
1. **Sets**

2. **Dictionary**
    * Adding
    * Accessing
    * Deletion

3. **Conditional Statements**

4. **Loops**

5. **Functions**

6. **Lambda Functions**

<hr>

<hr>

#**Topic 1: Sets**#

**Def: It is a datatype, that is used for removing the dulicacy, or for just the unique/distinct elements are counted. In this datatype, we don't have the changeability criteria moreover, we also don't have the concept of the indexing/position.**

Create: {} (curly braces)

<hr>

Normal Set

In [ ]:
set1 = {1, 1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10}
# as per our conclusion there are 13 elements
len(set1)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Strings sets

In [ ]:
textSet = {'Dev', 'Dev', 'Varchasva', 'Manoj', 'Manoj', 'Sachin', 'Jaymin', 'Aishwaraya', 'Aishwaraya'}
# as per our conclusion there are 9 elements
textSet, len(textSet)

({'Aishwaraya', 'Dev', 'Jaymin', 'Manoj', 'Sachin', 'Varchasva'}, 6)

Typecasting of the list / tuples into the sets

In [ ]:
textList = ['Dev', 'Dev', 'Varchasva', 'Manoj', 'Manoj', 'Sachin', 'Jaymin', 'Aishwaraya', 'Aishwaraya']
#type casting
setText = set(textList)
setText

{'Aishwaraya', 'Dev', 'Jaymin', 'Manoj', 'Sachin', 'Varchasva'}

Changeability / Mutable

In [ ]:
setText[1] = 'Akash'

TypeError: 'set' object does not support item assignment

**Topic 1a. Adding and Deletion in sets**

In [ ]:
# for adding the element ---> add()
# syntax: setName.add(element_to_be_added)
setText.add('Sonam')
setText

{'Aishwaraya', 'Dev', 'Jaymin', 'Manoj', 'Sachin', 'Sonam', 'Varchasva'}

Only one method for adding the element

In [ ]:
# deletion -> pop(), discard(), remove()

# pop() -> randomly deletes a element from sets
# syntax: setName.pop()

setText.pop()

'Jaymin'

Issue faced when you pass a number to it

In [ ]:
setText.pop()

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
# discard() / remove()
# synx: setname.discard()/remove(element_to_be_removed)
setText

{'Aishwaraya', 'Manoj', 'Sachin', 'Sonam', 'Varchasva'}

In [ ]:
setText.discard('Manoj')

In [ ]:
setText

{'Aishwaraya', 'Sachin', 'Sonam', 'Varchasva'}

In [ ]:
setText.remove('Sonam')

In [ ]:
setText

{'Aishwaraya', 'Sachin', 'Varchasva'}

The discard() method removes the specified item from the set. This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

In [ ]:
setText.discard('Dev') # error handling is poor

In [ ]:
setText.remove('Dev') # error has been provided

KeyError: 'Dev'

In [ ]:
setText

{'Aishwaraya', 'Sachin', 'Varchasva'}

In [ ]:
setText1 = {'Sachin', 'Varchasva'}

In [ ]:
setText.issubset(setText1)

False

<hr>

#**Topic 2: Dictionary**#

**Def: this is a datatype that consists on Key-value pairs. Now here instead of indexing, we have the concept of keys for accessing elements, or for position**

Create: {key1:value1 , key2:value2 , ... keyN: valueN}
<hr>

In [ ]:
# creation of dictionary
contactDetails = {
    'Name':'Sonam Jain',
    'Email': 'sonamjain@email.com',
    'Phone': 9876543210,
    'Address': "INDIA",
    'Comments': 'Python/Data Science'
}

In [ ]:
type(contactDetails)

dict

In [ ]:
contactDetails

{'Name': 'Sonam Jain',
 'Email': 'sonamjain@email.com',
 'Phone': 9876543210,
 'Address': 'INDIA',
 'Comments': 'Python/Data Science'}

**Topic 2a: Accessing a Dictionary**

In [ ]:
contactDetails['Name']

'Sonam Jain'

In [ ]:
contactDetails['Email']

'sonamjain@email.com'

**Topic 2b. Changing a particular element**

In [ ]:
# syn: dictName[key] = value_to_be_changed
contactDetails['Address'] = 'Delhi, India'

In [ ]:
contactDetails

{'Name': 'Sonam Jain',
 'Email': 'sonamjain@email.com',
 'Phone': 9876543210,
 'Address': 'Delhi, India',
 'Comments': 'Python/Data Science'}

**Topic 2c. Duplicacy can be there with the value, but not with the keys**

In [ ]:
carDetails = {
    'Brand': "Ford",
    'Model': "Mustang",
    'Year': '2017',
    'KMS Driven': 20000,
    'Color': 'Red',
    'Color': 'Black',
    'InteriorColor': 'Black'
}

In [ ]:
carDetails

{'Brand': 'Ford',
 'Model': 'Mustang',
 'Year': '2017',
 'KMS Driven': 20000,
 'Color': 'Black',
 'InteriorColor': 'Black'}

**Topic 2d. Adding something to dictionary**

In [ ]:
# adding:
# syn: dictName[newKey] = newVal
carDetails['Price'] = '$123, 239'
carDetails

{'Brand': 'Ford',
 'Model': 'Mustang',
 'Year': '2017',
 'KMS Driven': 20000,
 'Color': 'Black',
 'InteriorColor': 'Black',
 'Price': '$123, 239'}

In [ ]:
carDetails['Price'] = 123454
carDetails

{'Brand': 'Ford',
 'Model': 'Mustang',
 'Year': '2017',
 'KMS Driven': 20000,
 'Color': 'Black',
 'InteriorColor': 'Black',
 'Price': 123454}

**Topic 2e. Deletion**

In [ ]:
# pop() -> for deletion
# syn: dictNmae.pop(key)
# it throws a error if key is not provided
carDetails.pop("InteriorColor")

'Black'

In [ ]:
carDetails

{'Brand': 'Ford',
 'Model': 'Mustang',
 'Year': '2017',
 'KMS Driven': 20000,
 'Color': 'Black',
 'Price': 123454}

In [ ]:
carDetails.popitem() # drops the last element

('Price', 123454)

In [ ]:
carDetails

{'Brand': 'Ford',
 'Model': 'Mustang',
 'Year': '2017',
 'KMS Driven': 20000,
 'Color': 'Black'}

**Topic 2f. Function to Dictionary**

In [ ]:
# if you want to get all the keys only
carDetails.keys()

dict_keys(['Brand', 'Model', 'Year', 'KMS Driven', 'Color'])

In [ ]:
# if you want to get all the values only
carDetails.values()

dict_values(['Ford', 'Mustang', '2017', 20000, 'Black'])

In [ ]:
# if you want to get all the pairs only
carDetails.items()

dict_items([('Brand', 'Ford'), ('Model', 'Mustang'), ('Year', '2017'), ('KMS Driven', 20000), ('Color', 'Black')])

**Bonus: How to create a multi-value dictionary**

In [ ]:
multiValDict = {
    'Name' :
     {
         1:
          {'Type':
           ['A+', 'B+', 'O+']
           }
         },
    2: 'Swati', 3: 'Akash'
    }

In [ ]:
type(multiValDict)

dict

**Way to delete anything in the nested dictionary**

In [ ]:
# for key, value in multiValDict['Name'].items():
#     if isinstance(value, dict) and 'Type' in value:
#         del value['Type']

# multiValDict

In [ ]:
multiValDict["Name"][1].pop('Type')

['A+', 'B+', 'O+']

<hr>

#**Topic 3: Conditional Statement**#

<hr>

In [ ]:
biscuit = input('Enter the name: ')  # strings

if biscuit == 'Orange':
  print('Buy!!')
else:
  print('Give a drive!!')

Enter the name: Chocolate
Give a drive!!

In [ ]:
a = 23
b = 21
print(a==b)

False

Using elif, used for analyzing more than two condition

In [ ]:
biscuit = input('Enter the name: ')  # strings
cake = input('Enter cake name: ')

if biscuit == 'Orange':
  print('Buy Biscuit!!')
elif cake == 'Chocolate':
  print('Buy Cake!!')
else:
  print('Give a drive!!')

Enter the name: orange
Enter cake name: pinapple
Give a drive!!

In [ ]:
fileInput = input("Enter Status: ")

if fileInput=='received':
  print('Working on it!!')
elif fileInput == 'In Transit':
  print('In Transit, waiting for the file')
elif fileInput == 'Error Occurred':
  print('Error Happened, try to resolve')
else:
  print('Not Received!!')

Enter Status: received
Working on it!!

<hr>

#**Topic 4: Loops**#

**Types of loops**
1. for-loop (range)
2. While-loop (conditional loop)
<hr>

1. **For loops**

In [ ]:
# this loop basically works with the part of range, or any defined range
# syn: for iterator(anyVariable) in range(startrange, endrange+1)

for i in range(1, 21):
  print(f"The number is : {i}")

The number is : 1
The number is : 2
The number is : 3
The number is : 4
The number is : 5
The number is : 6
The number is : 7
The number is : 8
The number is : 9
The number is : 10
The number is : 11
The number is : 12
The number is : 13
The number is : 14
The number is : 15
The number is : 16
The number is : 17
The number is : 18
The number is : 19
The number is : 20

In [ ]:
# not only range could be used also list could be used as range
list1 = [2,3, 4, 5, 6, 7, 8, 8, 'Dev', 'Swati']
for x in list1:
  print(f"Element: {x}")
  # format = f

Element: 2
Element: 3
Element: 4
Element: 5
Element: 6
Element: 7
Element: 8
Element: 8
Element: Dev
Element: Swati

In [ ]:
# manually increamenting
# syn: range(startPos, endPos+1, step)
for i in range(2, 21, 2):
  print(f"The number is : {i}")

The number is : 2
The number is : 4
The number is : 6
The number is : 8
The number is : 10
The number is : 12
The number is : 14
The number is : 16
The number is : 18
The number is : 20

**While Loop**

In [ ]:
# while loop
# syn: while condition:
  #      operation
# while loop is not a auto-increament loop

distSachin = 0
while distSachin<6:
  print('Running!!')
  print(f"Distance Covered in this round: {distSachin}")

  # auto-increment
  distSachin += 1
  print(f'Updated distance: {distSachin}')
  print("==============================================")
  # distSachin ++ / distSachin = distSachine + 1

Running!!
Distance Covered in this round: 0
Updated distance: 1
==============================================
Running!!
Distance Covered in this round: 1
Updated distance: 2
==============================================
Running!!
Distance Covered in this round: 2
Updated distance: 3
==============================================
Running!!
Distance Covered in this round: 3
Updated distance: 4
==============================================
Running!!
Distance Covered in this round: 4
Updated distance: 5
==============================================
Running!!
Distance Covered in this round: 5
Updated distance: 6
==============================================

<hr>

#**Topic 5: Function**#
**Def: This is a piece of code, that once written could be used multiple times, over different entities**

<hr>

In [ ]:
# party
# friendList = ['Akash', 'Sachin', 'Anuj', 'Jaymin', 'Shilpa', 'Swati', 'Asmita']

In [ ]:
def inviteFunc(name):
    return f'Dear {name}, you are invited to a party. that is happening tonight at 8, please be there'

In [ ]:
inviteFunc('Dev')

'Dear Dev, you are invited to a party. that is happening tonight at 8, please be there'

In [ ]:
inviteFunc('Asmita')

'Dear Asmita, you are invited to a party. that is happening tonight at 8, please be there'

In [ ]:
# syn:
# def -> define

# def funcName(argument1, arg2, .....agrN):
    # operation

In [ ]:
# sum up two pair of number

In [ ]:
sum(45, 67)

112

<hr>

#**Topic 6: Lambda Function**#

Def: One Liner Function

<hr>

In [ ]:
# syn:
# funcName = lambda para1, par2 : operation

sumfunc = lambda a,b: a+b
sumfunc(56, 98)

154

In [ ]:
friendList = ['Dev', 'Kushagra',
              'Asmita', 'Swati', 'Giriraj']
# def funcName (para)
def inviteFunc(para):
  for i in para:
    print(f'Dear {i}, \nYou are invited to a party hosted by Python Team.\nVenue: ABC Towers.\nTimings:6:30PM')
    print('---------------')

In [ ]:
# function calling

inviteFunc(friendList)

Dear Dev,
You are invited to a party hosted by Python Team.
Venue: ABC Towers.
Timings:6:30PM
---------------
Dear Kushagra,
You are invited to a party hosted by Python Team.
Venue: ABC Towers.
Timings:6:30PM
---------------
Dear Asmita,
You are invited to a party hosted by Python Team.
Venue: ABC Towers.
Timings:6:30PM
---------------
Dear Swati,
You are invited to a party hosted by Python Team.
Venue: ABC Towers.
Timings:6:30PM
---------------
Dear Giriraj,
You are invited to a party hosted by Python Team.
Venue: ABC Towers.
Timings:6:30PM
---------------